.blueCol{
    background-color: dodgerblue;
    margin-right: 0.5rem;
    border-radius: 2%;
}

.beigeCol{
    background-color: blanchedalmond;
    border-radius: 2%;
}

.contentHeight{
    height: 30rem;
}

.paddingtop:nth-of-type(even){
    background-color: darkcyan;
}

.paddingtop{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.topContainer{
    width: 100%;
}

h3{
    text-align: center;
}
